header {
    background-color: aqua;
    margin: auto;
}

h2 {
    background-color: royalblue;
    text-align: center;
}

h2:hover {
    color: magenta;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

h3 {
    background-color: lightgreen;
    color: crimson;
    text-align: center;
}

h3:hover {
    color: black;
    text-decoration: underline;
}